# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

node_modules/
.cache/
public
src/gatsby-types.d.ts

# React Router
.react-router/
build/
*.timestamp-*.mjs

*.ttf
tmp-*

.instructions
wampa*
CLAUDE.md
.claude