---
import { fetchConfig } from "../models/fetchConfig";
import { configId } from "../models/configId";
import { getPosts } from "../models/posts";
import { IndexPage } from "../components/IndexPage";
import BaseHead from "../components/BaseHead.astro";

const config = await fetchConfig(configId);
const posts = await getPosts(config.contents);
---

<html lang="ja">
  <BaseHead title={config.title} description={config.title} />
  <body>
    <IndexPage config={config} posts={posts} />
  </body>
</html>
