name: Publish on GitHub Pages

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  CONFIG_ID: ${{ secrets.CONFIG_ID }}
  PAT: ${{ secrets.PAT }}
  LOCATION: ${{ secrets.LOCATION }}
  PATH_PREFIX: ${{ secrets.PATH_PREFIX }}

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test-large:
    uses: ./.github/workflows/test-large.yml
    secrets: inherit
  build:
    runs-on: ubuntu-latest
    environment: github-pages
    needs:
      - test-large

    steps:
      - name: Clone repository
        uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - name: Download fonts
        run: |
          curl -sSL -O https://github.com/googlefonts/morisawa-biz-ud-gothic/releases/download/v1.051/BIZUDGothic.zip
          unzip BIZUDGothic.zip
      - name: Install dependencies
        run: bun install
      - name: Rebuild sharp for current platform
        run: npm rebuild sharp
      - name: Build site
        run: bun run build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'public'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4