name: Test of large size

on:
  workflow_call:

jobs:
  test-large:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      status: ${{ steps.test.outputs.status }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: oven-sh/setup-bun@v2
      - name: Download fonts
        run: |
          curl -sSL -O https://github.com/googlefonts/morisawa-biz-ud-gothic/releases/download/v1.051/BIZUDGothic.zip
          unzip BIZUDGothic.zip
      - name: Install dependencies
        run: bun install
      - name: Rebuild sharp for current platform
        run: npm rebuild sharp
      - name: Launch server
        run: bun run develop &
        env:
          CONFIG_ID: ${{ secrets.CONFIG_ID }}
          LOCATION: ${{ secrets.LOCATION }}
          PAT: ${{ secrets.PAT }}
      - name: Install dependencies
        working-directory: visual_test
        run: npm install -D @playwright/test@latest
      - name: Install playwright
        working-directory: visual_test
        run: npx playwright install --with-deps
      - name: Run test
        id: test
        working-directory: visual_test
        run: npx playwright test